# dependencies
node_modules
.pnpm-store

# next.js
.next
out

# env
.env
.env.local
.env.*.local

# debug
npm-debug.log*
pnpm-debug.log*

# typescript
next-env.d.ts
*.tsbuildinfo

# misc
.DS_Store
.vercel
